/* Media Queries */

/*// Small screens*/
@media only screen {
    .swiper-container {
        height: 400px;
    }
}/* Define mobile styles */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
    .swiper-container {
        height: 700px;
    }
}/* min-width 641px, medium screens */

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
    .swiper-container {
        height: 740px;
    }
}/* min-width 1025px, large screens */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {
    .swiper-container {
        height: 800px;
    }
}/* min-width 1441px, xlarge screens */

.swiper-container {
    width: 100%;
    /*height: 600px;*/
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.gallery-top {
    height: 80%;
    width: 100%;
    /*height: 50%;*/
    /*width: 80%;*/
}

.gallery-thumbs {
    /*height: 15%;*/
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}