/* Media Queries */
/*// Small screens*/
@media only screen { 
	.swiper-container{
		height: 400px;
	}
} /* Define mobile styles */

@media only screen and (max-width: 40em) { 
	.swiper-container{
		height: 430px;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { 
	.swiper-container{
		height: 450px;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.swiper-container{
		height: 500px;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { 
	.swiper-container{
		height: 570px;
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	.swiper-container{
		height: 620px;
	}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { 
	.swiper-container{
		height: 670px;
	}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
	.swiper-container{
		height: 720px;
	}
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { 
	.swiper-container{
		height: 770px;
	}
} /* min-width 1921px, xxlarge screens */

.swiper-container {
	width: 100%;
	/*height: 600px;*/
	/*height: 100%;*/
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
	/*background-repeat: no-repeat;*/
	/*background-size: contain;*/
}

.gallery-top {
	height: 80%;
	width: 100%;
	/*height: 50%;*/
	/*width: 80%;*/
}

.gallery-thumbs {
	/*height: 15%;*/
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}

