body, h1, h2, h3, h4, h5, h6, hr, p, a, blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td ,iframe {
	font-family: 'Arvo', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
}

body {
	background-image: url("../img/tokyo-bg-uhd.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*                  */
/* Universal Footer */
/*                  */

footer {
	background-color: rgba(255, 255, 255, 0.75);
}

.footer-container {
	position: relative;
	height: 100%;
}

.footer-element-center {
/*	position: relative;
	top: 50%;
	transform: translateY(-50%);*/
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	margin-bottom: 0;
}

footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}

footer li {
	display: inline-block;
	padding: 0 10px;
}


/*                     */
/* End Universal Footer*/
/*                     */




/*            */
/* index.html */
/*            */
/* index.html main images */
main .th > img {
	height: 200px;
	width: 300px;
}

main .panel {
	max-width: 308px;
	margin-left: auto;
	margin-right: auto;
}

section .button {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}


/*                */
/* End index.html */
/*                */

/* panel */
.panel {
	background-color: rgba(255, 255, 255, 0.75);
}

.accordion {
	margin-bottom: 1.25rem;
}

/* Navbar */

/* Media Queries */
/*// Small screens*/
@media only screen {
main .th > img {
	height: 200px;
	width: 300px;
}
main .panel {
	max-width: 308px;
	} 
footer i {
	font-size: 28px;
	}
} /* Define mobile styles */

@media only screen and (max-width: 40em) { 
footer i {
	font-size: 32px;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
main .th > img {
	height: 300px;
	width: 450px;
}
main .panel {
	max-width: 458px;
	} 
footer i {
	font-size: 36px;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
footer i {
	font-size: 40px;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
main .th > img {
	height: 200px;
	width: 300px;
}
main .panel {
	max-width: 308px;
	} 
footer i {
	font-size: 44px;
	}
} /* min-width 1025px, large screens */
