main .th > img {
	height: 200px;
	width: 300px;
}

main .panel {
	max-width: 308px;
	margin-left: auto;
	margin-right: auto;
}

#contact-text-wrapper {
	height: 100%;
	display: inline-flex !important;
	justify-content: center !important;
	flex-direction: column !important;
}
#contact-text-wrapper > p:last-child{
	margin-bottom: 0;
}

#index-button {
	margin: 0.75rem 0;
	/*margin-top: 1rem;*/
}

/* 
 * 
 * Media Queries 
 *
 */
/*// Small screens*/
@media only screen {
main .th > img {
	height: 200px;
	width: 300px;
}
main .panel {
	max-width: 308px;
	} 

} /* Define mobile styles */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
main .th > img {
	height: 300px;
	width: 450px;
}
main .panel {
	max-width: 458px;
	} 
} /* min-width 641px, medium screens */

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
main .th > img {
	height: 200px;
	width: 300px;
}
main .panel {
	max-width: 308px;
	} 
} /* min-width 1025px, large screens */
/* End Media Queries */