body, h1, h2, h3, h4, h5, h6, hr, p, a, blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td ,iframe {
	font-family: 'Arvo', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
}

/*                  */
/* Universal Footer */
/*                  */

.footer-element-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
}

footer li {
	display: inline-block;
	padding: 0 10px;
}
/*                     */
/* End Universal Footer*/
/*                     */




/*            */
/* index.html */
/*            */
/* index.html main images */
main .th > img {
	height: 200px;
}

/* index.html section panel */
section .panel {
	margin-top: 1.25rem;
}
/*                */
/* End index.html */
/*                */


